
.text-box{
	padding-top: 2rem;
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}
.font_OpenSans {
	font-family: 'Open Sans';
}
.font_BebasRegular {
	font-family: 'Bebas';
	font-weight: 800;
}
.font_BadScript {
	font-family: 'Bad Script';
}
.font_Lobster {
	font-family: 'Lobster';
}
