@font-face {
    font-family: 'Bad Script';
    src: url('/fonts/Bad Script/BadScriptRegular.eot');
    src: url('/fonts/Bad Script/BadScriptRegular.ttf');
    src: url('/fonts/Bad Script/BadScriptRegular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bebas';
    src: url('/fonts/BebasRegular/bebas-neue-7.woff'); 
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lobster';
    src: url('/fonts/Lobster/LobsterRegular.eot');
    src: url('/fonts/Lobster/LobsterRegular.ttf');
    src: url('/fonts/Lobster/LobsterRegular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/Open Sans/OpenSansBold/OpenSansBold.eot');
    src: url('/fonts/Open Sans/OpenSansBold/OpenSansBold.ttf');
    src: url('/fonts/Open Sans/OpenSansBold/OpenSansBold.woff');
    font-weight: normal;
    font-style: normal;
}